{% extends 'base.html' %}
{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

{% if all_items %}
<table class="table">
{% for m in all_items %}
    <tr>
        <td>{{ m.item }}</td>
        <td><center><a href="{% url 'delete' m.id %}"><button>Delete</button></a></center></td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}